@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&display=swap');
.navigation {
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 98vw;
    z-index: 2;
}
.navigation nav {
    padding: 0;
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); */
    background: transparent !important;
    box-shadow: none !important;

}
.navigation .navigation-logo {
    font-size: 32px;
    color: #FC8500 !important;
}
.navigation .navigation-item {
    padding: 16px;
    font-weight: bold;
    position: relative;
}
.navigation .navigation-item .nav-link {
    color: #FFF !important;
}
.navigation .navigation-item.active .nav-link{
    color: #FC8500 !important;
}
.navigation .navigation-stick {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #FC8500;
    transition: .5s;
}
.navigation .navigation-item.active .navigation-stick {
    width: 100%;
}
.navigation .navigation-btn-group .navigation-btn {
    background: rgb(236,176,133);
    background: linear-gradient(45deg, rgba(236,176,133,1) 0%, rgba(242,119,24,1) 100%);
    outline: none;
    border-radius: 20px;
    padding: 6px 20px;
    border: none;
    font-weight: bold;
    margin-left: 8px;
}
.navigation .navigation-user {
    color: #FFF;
    /* font-weight: 600; */
    padding: 8px;
    /* border-left: 1px solid #FC8500; */
    display: flex;
    align-items: center;
    font-size: 14px;
}
.navigation .navigation-user .navigation-user-img {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    border-radius: 50%;
    margin-right: 8px;
}
.navigation-user li.dropdown.nav-item {
    display: flex;
    align-items: center;
}
.navigation-user li.dropdown.nav-item a.dropdown-toggle.nav-link::after {
    color: #FC8500;
    transform: scale(1.5);
}
.dropdown-item {
    background: transparent !important;
    box-shadow: none !important;
    color: #FC8500 !important;
}