.slick-slide.slick-active.slick-center div {
    transform: scale(1.07);
    transition: 1s;
}
.slick-slide.slick-active div{
    transform: scale(1.04);
    transition: 1s;
}
.carousel-2 {
    height: 100vh;
    background-image: url(../../Img/banner/baba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blur {
    background: linear-gradient(360deg, rgba(14,14,14,1) 0%, rgba(8,6,6,0.9) 35%, rgba(84,82,82,0.9) 85%, rgba(252,248,248,0.2) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slick-list {
    padding: 160px 100px !important;
}
.div-cha {
    display: flex !important;
    justify-content: center;
}