.movie-detail {
    position: relative;
    height: 100vh;
}
.movie-detail .movie-detail-blur {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(360deg, rgba(14,14,14,1) 0%, rgba(8,6,6,0.9) 35%, rgba(84,82,82,0.9) 85%, rgba(252,248,248,0.5) 100%);
    z-index: 0;
}
.movie-detail .movie-detail-group .container {
    display: flex;
    padding-top: 150px;
}
.movie-detail-content {
    padding-left: 100px;
    color: #FFF ;
    z-index: 9;
}
.movie-detail ul li {
    list-style-type: none;
}
.movie-detail-content span {
    font-weight: 600;
    color: #FC8500;
}
.movie-detail-content li {
    margin-bottom: 5px;
    
}