.register-success{
    background: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
    height: 70vh;
    color: #FC8500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-success .container {
    margin-top: 100px;
    text-align: center;
}
.register-success .container>i {
    font-size: 100px;
    color: #FC8500;
}
.register-success .container p {
    cursor: pointer;
}