.register {
    background: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
    height: 100vh;
}
.register .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .container form {
    background: transparent;
    padding: 16px;
    width: 500px;
}